.advancedSearchForm {
  max-width: 500px;
}
.select-search_input {
  width: 100%;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.height-fixed {
  min-height: 360px !important;
}
